$('#comment-<%= @comment.id %>').append("<%= j render(@comment) %>");
$('#form-comment form textarea').val('');
// $("#your_form_id").html("<div><p>You have submitted the form successfully.</p></div>");
