<div class="culmn">
  <section id="feature" class="feature p-top-100">
    <div class="container">
			<h1>Kết quả tìm kiếm</h1>
			<hr>
			<div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to image_tag("nhathuoc1.jpeg"), "#" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
         <table class="table">
					<thead>
						<tr>
							<th class="col-sm-3">Chức danh</th>
							<td>Bác sỹ đa khoa</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Tên bác sĩ</th>
							<td>Bùi Tiến Đô</td>
						</tr>
						<tr>
							<th>Bệnh viện</th>
							<td>Hà Đông</td>
						</tr>
						<tr>
							<th>Số người đang chờ</th>
							<td>9</td>
						</tr>
					</tbody>
				</table>
        </div>
      </div>
    </div>
  </section> <!--End off About section -->
  
  <!-- scroll up-->
  <div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
  </div><!-- End off scroll up -->
</div>
<hr>
<div class="culmn">
  <section id="feature" class="feature p-top-100">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to image_tag("nhathuoc1.jpeg"), "#" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
         <table class="table">
					<thead>
						<tr>
							<th class="col-sm-3">Chức danh</th>
							<td>Bác sỹ đa khoa</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Tên bác sĩ</th>
							<td>Bùi Tiến Đô</td>
						</tr>
						<tr>
							<th>Bệnh viện</th>
							<td>Hà Đông</td>
						</tr>
						<tr>
							<th>Số người đang chờ</th>
							<td>9</td>
						</tr>
					</tbody>
				</table>
        </div>
      </div>
    </div>
  </section> <!--End off About section -->
  
  <!-- scroll up-->
  <div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
  </div><!-- End off scroll up -->
</div>

